<div class="container text-center py-5 w-100">
  <h1 class="text-danger fw-bold">Vrising Server Configurator</h1>
  <p>
    Trying to offer a prettier interface to edit all the files you might need
    for your
    <a
      href="https://github.com/StunlockStudios/vrising-dedicated-server-instructions"
    >
      Vrising Dedicated server
    </a>
  </p>

  <div class="row justify-content-center mt-4">
    <div class="col-md-4 mb-3">
      <div class="p-1 bg-light border rounded shadow-sm h-100">
        <div class="card text-center h-100">
          <div class="card-body d-flex flex-column">
            <h2 class="card-title">Server Config Editor</h2>
            <p class="card-text">
              The config to decide wether or not your server will appear on the
              servers list, have a password, and what name and description it
              will have, also usefull to enable API and Rcon
            </p>
            <a
              routerLink="/host-setting-generator"
              routerLinkActive="active"
              class="btn btn-primary mt-auto"
              >To the Server Config Editor</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="p-1 bg-light border rounded shadow-sm h-100">
        <div class="card text-center h-100">
          <div class="card-body d-flex flex-column">
            <h2 class="card-title">Game Settings Editor</h2>
            <p class="card-text">
              Helpful to adjust the PvP settings, the difficulty and the amount
              of ressources players can get and carry, and the difficulty of
              differents mobs of course
            </p>
            <a
              routerLink="/game-setting-generator"
              routerLinkActive="active"
              class="btn btn-primary mt-auto"
              >To the Game Settings Editor</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
