<form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-5 mb-5">
    <!-- Sélections (enums) -->
    <div class="row">
    <div class="col-md-6 mb-3">
    <label>Game Difficulty</label> <br>
    <select formControlName="GameDifficulty" class="form-control">
      <option *ngFor="let opt of gameDifficultyOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>

    <div class="col-md-6 mb-3">
    <label>Game Mode</label> <br>
    <select formControlName="GameModeType" class="form-control">
      <option *ngFor="let opt of gameModeOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>

    <div class="col-md-6 mb-3">
    <label>Castle Damage Mode</label> <br>
    <select formControlName="CastleDamageMode" class="form-control">
      <option class="col-md-12" *ngFor="let opt of castleDamageModeOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>
  
    <div class="col-md-6 mb-3">
    <label>Siege Weapon Health</label> <br>
    <select formControlName="SiegeWeaponHealth" class="form-control">
      <option *ngFor="let opt of siegeWeaponHealthOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>

    <div class="col-md-6 mb-3">
    <label>Player Damage Mode</label> <br>
    <select formControlName="PlayerDamageMode" class="form-control">
      <option *ngFor="let opt of playerDamageModeOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>
  
    <div class="col-md-6 mb-3">
    <label>Castle Heart Damage Mode</label> <br>
    <select formControlName="CastleHeartDamageMode" class="form-control">
      <option *ngFor="let opt of castleHeartDamageModeOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>
  
    <div class="col-md-6 mb-3">
    <label>PvP Protection Mode</label> <br>
    <select formControlName="PvPProtectionMode" class="form-control">
      <option *ngFor="let opt of pvpProtectionModeOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>
  
    <div class="col-md-6 mb-3">
    <label>Death Container Permission</label> <br>
    <select formControlName="DeathContainerPermission" class="form-control">
      <option *ngFor="let opt of deathContainerPermissionOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>

    <div class="col-md-6 mb-3">
    <label>Relic Spawn Type</label> <br>
    <select formControlName="RelicSpawnType" class="form-control">
      <option *ngFor="let opt of relicSpawnTypeOptions" [value]="opt.value">{{ opt.label }}</option>
    </select>
    </div>
    <br>
  
    <!-- Booléens -->
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="CanLootEnemyContainers" /> Can Loot Enemy Containers</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="BloodBoundEquipment" /> Blood Bound Equipment</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="TeleportBoundItems" /> Teleport Bound Items</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="BatBoundItems" /> Bat Bound Items</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="BatBoundShards" /> Bat Bound Shards</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="AllowGlobalChat" /> Allow Global Chat</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="AllWaypointsUnlocked" /> All Waypoints Unlocked</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="FreeCastleRaid" /> Free Castle Raid</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="FreeCastleClaim" /> Free Castle Claim</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="FreeCastleDestroy" /> Free Castle Destroy</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="InactivityKillEnabled" /> Inactivity Kill Enabled</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="CastleRelocationEnabled" /> Castle Relocation Enabled</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="AnnounceSiegeWeaponSpawn" /> Announce Siege Weapon Spawn</label>
    <label class="col-md-6 mb-3"><input type="checkbox" formControlName="ShowSiegeWeaponMapIcon" /> Show Siege Weapon Map Icon</label>
  
    <!-- Nombres / sliders -->
    <!--<label>Inactivity Kill Time Min</label>
    <input type="number" formControlName="InactivityKillTimeMin"/>
  
    <label>Inactivity Kill Time Max</label>
    <input type="number" formControlName="InactivityKillTimeMax"/>
  
    <label>Inactivity Kill Safe Time Addition</label>
    <input type="number" formControlName="InactivityKillSafeTimeAddition" /> Unused for now at least -->
  
    <h5>Inactivity Kill Timer Max Item Level</h5>
    <input type="number" formControlName="InactivityKillTimerMaxItemLevel" min="0" max="255"/>
  
    <h5>Starting Progression Level</h5>
    <input type="number" formControlName="StartingProgressionLevel" min="0" max="255"/>
  
    <h5>Disable Disconnected Dead Enabled</h5>
    <input type="checkbox" formControlName="DisableDisconnectedDeadEnabled"/>
  
    <!--<label>Disable Disconnected Dead Timer</label>
    <input type="number" formControlName="DisableDisconnectedDeadTimer" />-->
  
    <h5>Disconnected Sun Immunity Time</h5>
    <label>Define how long after disconnection players are immune to sun</label>
    <input type="number" formControlName="DisconnectedSunImmunityTime" min="0" max="3600"/>
    <p>Value: From 0 to 3600</p>
  
    <h5>Inventory Stacks Modifier</h5>
    <input type="number" step="0.01" formControlName="InventoryStacksModifier" min="0.25" max="3"/>
  
    <h5>Drop Table Modifier General</h5>
    <input type="number" step="0.01" formControlName="DropTableModifier_General" />
  
    <h5>Drop Table Modifier Stygian Shards</h5>
    <input type="number" step="0.01" formControlName="DropTableModifier_StygianShards" />
  
    <h5>Drop Table Modifier Missions</h5>
    <input type="number" step="0.01" formControlName="DropTableModifier_Missions" />
  
    <h5>Material Yield Modifier Global</h5>
    <input type="number" step="0.01" formControlName="MaterialYieldModifier_Global" />
  
    <h5>Blood Essence Yield Modifier</h5>
    <input type="number" step="0.01" formControlName="BloodEssenceYieldModifier" />
  
    <h5>PvP Vampire Respawn Modifier</h5>
    <input type="number" step="0.01" formControlName="PvPVampireRespawnModifier" />
  
    <h5>Clan Size</h5>
    <input type="number" formControlName="ClanSize" />
  
    <h5>Blood Drain Modifier</h5>
    <input type="number" step="0.01" formControlName="BloodDrainModifier" />
  
    <h5>Durability Drain Modifier</h5>
    <input type="number" step="0.01" formControlName="DurabilityDrainModifier" />
  
    <h5>Garlic Area Strength Modifier</h5>
    <input type="number" step="0.01" formControlName="GarlicAreaStrengthModifier" />
  
    <h5>Holy Area Strength Modifier</h5>
    <input type="number" step="0.01" formControlName="HolyAreaStrengthModifier" />
  
    <h5>Silver Strength Modifier</h5>
    <input type="number" step="0.01" formControlName="SilverStrengthModifier" />
  
    <h5>Sun Damage Modifier</h5>
    <input type="number" step="0.01" formControlName="SunDamageModifier" />
  
    <h5>Castle Decay Rate Modifier</h5>
    <input type="number" step="0.01" formControlName="CastleDecayRateModifier" />
  
    <h5>Castle Blood Essence Drain Modifier</h5>
    <input type="number" step="0.01" formControlName="CastleBloodEssenceDrainModifier" />
  
    <h5>Castle Siege Timer</h5>
    <input type="number" formControlName="CastleSiegeTimer" />
  
    <h5>Castle Under Attack Timer</h5>
    <input type="number" formControlName="CastleUnderAttackTimer" />
  
    <h5>Castle Raid Timer</h5>
    <input type="number" formControlName="CastleRaidTimer" />
  
    <label>Castle Raid Protection Time</label>
    <input type="number" formControlName="CastleRaidProtectionTime" />
  
    <label>Castle Exposed Free Claim Timer</label>
    <input type="number" formControlName="CastleExposedFreeClaimTimer" />
  
    <label>Castle Relocation Cooldown</label>
    <input type="number" formControlName="CastleRelocationCooldown" />
  
    <label>Build Cost Modifier</label>
    <input type="number" step="0.01" formControlName="BuildCostModifier" />
  
    <label>Recipe Cost Modifier</label>
    <input type="number" step="0.01" formControlName="RecipeCostModifier" />
  
    <label>Craft Rate Modifier</label>
    <input type="number" step="0.01" formControlName="CraftRateModifier" />
  
    <label>Research Cost Modifier</label>
    <input type="number" step="0.01" formControlName="ResearchCostModifier" />
  
    <label>Refinement Cost Modifier</label>
    <input type="number" step="0.01" formControlName="RefinementCostModifier" />
  
    <label>Refinement Rate Modifier</label>
    <input type="number" step="0.01" formControlName="RefinementRateModifier" />
  
    <label>Research Time Modifier</label>
    <input type="number" step="0.01" formControlName="ResearchTimeModifier" />
  
    <label>Dismantle Resource Modifier</label>
    <input type="number" step="0.01" formControlName="DismantleResourceModifier" />
  
    <label>Servant Convert Rate Modifier</label>
    <input type="number" step="0.01" formControlName="ServantConvertRateModifier" />
  
    <label>Repair Cost Modifier</label>
    <input type="number" step="0.01" formControlName="RepairCostModifier" />
  
    <label>Death Durability Factor Loss</label>
    <input type="number" step="0.01" formControlName="Death_DurabilityFactorLoss" />
  
    <label>Death Durability Loss Factor As Resources</label>
    <input type="number" step="0.01" formControlName="Death_DurabilityLossFactorAsResources" />
  
    <label>Starter Equipment Id</label>
    <input type="number" formControlName="StarterEquipmentId" />
  
    <label>Starter Resources Id</label>
    <input type="number" formControlName="StarterResourcesId" />
  
    <label>SoulShard Durability Loss Rate</label>
    <input type="number" step="0.01" formControlName="SoulShard_DurabilityLossRate" />
    </div>

    <div formGroupName="GameTimeModifiers" class="mb-4">
      <h5>Game Time Modifiers</h5>
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let key of ['DayDurationInSeconds','DayStartHour','DayStartMinute','DayEndHour','DayEndMinute','BloodMoonFrequency_Min','BloodMoonFrequency_Max','BloodMoonBuff']">
          <label class="form-label">{{ key }}</label>
          <input type="number" class="form-control" [formControlName]="key" />
        </div>
      </div>
    </div>
    
    <div formGroupName="VampireStatModifiers" class="mb-4">
      <h5>Vampire Stat Modifiers</h5>
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let key of ['MaxHealthModifier','PhysicalPowerModifier','SpellPowerModifier','ResourcePowerModifier','SiegePowerModifier','DamageReceivedModifier','ReviveCancelDelay']">
          <label class="form-label">{{ key }}</label>
          <input type="number" class="form-control" [formControlName]="key" />
        </div>
      </div>
    </div>
    
    <div formGroupName="UnitStatModifiers_Global" class="mb-4">
      <h5>Unit Stat Modifiers - Global</h5>
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let key of ['MaxHealthModifier','PowerModifier','LevelIncrease']">
          <label class="form-label">{{ key }}</label>
          <input type="number" class="form-control" [formControlName]="key" />
        </div>
      </div>
    </div>
    
    <div formGroupName="UnitStatModifiers_VBlood" class="mb-4">
      <h5>Unit Stat Modifiers - VBlood</h5>
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let key of ['MaxHealthModifier','PowerModifier','LevelIncrease']">
          <label class="form-label">{{ key }}</label>
          <input type="number" class="form-control" [formControlName]="key" />
        </div>
      </div>
    </div>
    
    <div formGroupName="EquipmentStatModifiers_Global" class="mb-4">
      <h5>Equipment Stat Modifiers - Global</h5>
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let key of ['MaxHealthModifier','ResourceYieldModifier','PhysicalPowerModifier','SpellPowerModifier','SiegePowerModifier','MovementSpeedModifier']">
          <label class="form-label">{{ key }}</label>
          <input type="number" class="form-control" [formControlName]="key" />
        </div>
      </div>
    </div>
    
    <div formGroupName="TraderModifiers" class="mb-4">
      <h5>Trader Modifiers</h5>
      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let key of ['StockModifier','PriceModifier','RestockTimerModifier']">
          <label class="form-label">{{ key }}</label>
          <input type="number" class="form-control" [formControlName]="key" />
        </div>
      </div>
    </div>
    
    <div formGroupName="UnlockedAchievements" class="mb-4">
      <label for="unlockedAchievements">Unlocked Achievements</label>
      <div *ngFor="let achievement of unlockedAchievementsOptions; let i = index">
        <input 
          type="checkbox" 
          id="{{achievement.label}}" 
          [value]="achievement.value" 
          [formControl]="getControl(i)"> <!-- Utilisation de la méthode getControl -->
        <label for="{{achievement.label}}">{{achievement.label}}</label>
      </div>
    </div>
    
    <div formArrayName="UnlockedResearchs" class="mb-4">
      <label for="unlockedAchievements">Unlocked Achievements</label>
      <div *ngFor="let Research of unlockedResearchOptions; let i = index">
        <input 
          type="checkbox" 
          id="{{Research.label}}" 
          [value]="Research.value" 
          [formControl]="getControl(i)">
        <label for="{{Research.label}}">{{Research.label}}</label>
      </div>
    </div>
    
    <div formGroupName="VBloodUnitSettings" class="mb-4">
      <h5>VBlood Unit Settings</h5>
        <p>Vblood Unit Settings aren't handled so far, please refer to the <a href="https://cdn.discordapp.com/attachments/976404273015431168/1364602638120779796/VRising_Server_Game_Settings_1.1.1.pdf?ex=6820057e&is=681eb3fe&hm=aed7778e085be25263ee144844fc760bea09145f293dbfc714e4a1ffec0e0bb3&">Vrising Server Game Settings PDF</a> for more informations on how to customize a specific Vblood</p>
    </div>
    
    <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary mt-3 mb-3">Save Settings</button>
    </div>
  </form>